# No certificates and keys
*.pem
*.key

# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.db
*.db-shm
*.db-wal

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#ignore intellij
/.idea
.vscode
*.iml

# Dependency directories (remove the comment below to include it)
# vendor/

build/
main/main
*.bck

/venv/
/main/certs/
/main/config.json
/main/config/test_config.json
/main/keys.json
/main/signatures/
/main/tokens/
/main/protocol.json
/main/identities.json
/load-test/config.json
/load-test/back.json
